*.class
*.log
*.a
*.so

.metadata

bin/main
bin/unit_client
bin/unit_server

RemoteSystemsTempFiles/

deps/build
deps/include
deps/lib
deps/bin
deps/archives/boost_1_54_0.tar.gz
deps/boost_install

*/*/Debug/*
*/*/Release/*

!*/*/*/.gitignore
!*/*/*/makefile
!*/*/*/objects.mk
!*/*/*/sources.mk
!*/*/*/subdir.mk

